<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
        <h4 class="offcanvas-title">{{ selectedRequest?.name}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<p>One fine body&hellip;</p>
		<div class="text-end">
			<button type="button" class="btn btn-outline-secondary" (click)="offcanvas.close('Close click')">Close</button>
		</div>
	</div>
</ng-template>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Request Name</th>
                <th>Sender</th>
                <th>Prep Needed</th>
                <th>Status</th>
                <th>Expires At</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let signRequest of paginatedData">
                <tr>
                    <td>{{ signRequest.name }}</td>
                    <td>{{ getRequesterNameForRequest(signRequest) }}</td>
                    <td>
                        <ng-container *ngIf="!signRequest.isDocumentPreparationNeeded; else prepNeeded">
                            No
                        </ng-container>
                        <ng-template #prepNeeded>
                            <a href="https://www.box.com" target="_blank">Yes</a>
                        </ng-template>
                    </td>
                    <td>{{ signRequest.status }}</td>
                    <td>{{ signRequest.autoExpireAt }}</td>
                    <td>
                        <button type="button" class="btn btn-light" (click)="showDetails(signRequest, content)">
                            <ng-icon name="bootstrapInfoCircle"></ng-icon>
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
