/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.pageheight {
    height: 85vh;
}

.offcanvas {
    z-index: 1060 !important; /* Ensure it appears above the modal */
}

.my-modal {
    z-index: 1055 !important; /* Ensure it appears above the modal */
}
  
